In [1]:
import pandas as pd
train=pd.read_csv('df_train.csv')
train.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667

In [2]:
test=pd.read_csv('df_test.csv')
test.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min
0,8763,2018-01-01 00:00:00,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,...,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000
1,8764,2018-01-01 03:00:00,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,...,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000
2,8765,2018-01-01 06:00:00,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,...,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000
3,8766,2018-01-01 09:00:00,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,...,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333
4,8767,2018-01-01 12:00:00,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,...,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000

In [3]:
train.time=pd.to_datetime(train.time, infer_datetime_format=True)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8763 non-null   int64
 1   time                  8763 non-null   datetime64[ns]
 2   Madrid_wind_speed     8763 non-null   float64
 3   Valencia_wind_deg     8763 non-null   object
 4   Bilbao_rain_1h        8763 non-null   float64
 5   Valencia_wind_speed   8763 non-null   float64
 6   Seville_humidity      8763 non-null   float64
 7   Madrid_humidity       8763 non-null   float64
 8   Bilbao_clouds_all     8763 non-null   float64
 9   Bilbao_wind_speed     8763 non-null   float64
 10  Seville_clouds_all    8763 non-null   float64
 11  Bilbao_wind_deg       8763 non-null   float64
 12  Barcelona_wind_speed  8763 non-null   float64
 13  Barcelona_wind_deg    8763 non-null   float64
 14  Madrid_clouds_all     8763 non-null   float64
 15  Seville_wind_speed    8763 non-null   float64
 16  Barcelona_rain_1h     8763 non-null   float64
 17  Seville_pressure      8763 non-null   object
 18  Seville_rain_1h       8763 non-null   float64
 19  Bilbao_snow_3h        8763 non-null   float64
 20  Barcelona_pressure    8763 non-null   float64
 21  Seville_rain_3h       8763 non-null   float64
 22  Madrid_rain_1h        8763 non-null   float64
 23  Barcelona_rain_3h     8763 non-null   float64
 24  Valencia_snow_3h      8763 non-null   float64
 25  Madrid_weather_id     8763 non-null   float64
 26  Barcelona_weather_id  8763 non-null   float64
 27  Bilbao_pressure       8763 non-null   float64
 28  Seville_weather_id    8763 non-null   float64
 29  Valencia_pressure     6695 non-null   float64
 30  Seville_temp_max      8763 non-null   float64
 31  Madrid_pressure       8763 non-null   float64
 32  Valencia_temp_max     8763 non-null   float64
 33  Valencia_temp         8763 non-null   float64
 34  Bilbao_weather_id     8763 non-null   float64
 35  Seville_temp          8763 non-null   float64
 36  Valencia_humidity     8763 non-null   float64
 37  Valencia_temp_min     8763 non-null   float64
 38  Barcelona_temp_max    8763 non-null   float64
 39  Madrid_temp_max       8763 non-null   float64
 40  Barcelona_temp        8763 non-null   float64
 41  Bilbao_temp_min       8763 non-null   float64
 42  Bilbao_temp           8763 non-null   float64
 43  Barcelona_temp_min    8763 non-null   float64
 44  Bilbao_temp_max       8763 non-null   float64
 45  Seville_temp_min      8763 non-null   float64
 46  Madrid_temp           8763 non-null   float64
 47  Madrid_temp_min       8763 non-null   float64
 48  load_shortfall_3h     8763 non-null   float64
dtypes: datetime64[ns](1), float64(45), int64(1), object(2)
memory usage: 3.3+ MB

In [4]:
test.time=pd.to_datetime(test.time, infer_datetime_format=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 48 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2920 non-null   int64
 1   time                  2920 non-null   datetime64[ns]
 2   Madrid_wind_speed     2920 non-null   float64
 3   Valencia_wind_deg     2920 non-null   object
 4   Bilbao_rain_1h        2920 non-null   float64
 5   Valencia_wind_speed   2920 non-null   float64
 6   Seville_humidity      2920 non-null   float64
 7   Madrid_humidity       2920 non-null   float64
 8   Bilbao_clouds_all     2920 non-null   float64
 9   Bilbao_wind_speed     2920 non-null   float64
 10  Seville_clouds_all    2920 non-null   float64
 11  Bilbao_wind_deg       2920 non-null   float64
 12  Barcelona_wind_speed  2920 non-null   float64
 13  Barcelona_wind_deg    2920 non-null   float64
 14  Madrid_clouds_all     2920 non-null   float64
 15  Seville_wind_speed    2920 non-null   float64
 16  Barcelona_rain_1h     2920 non-null   float64
 17  Seville_pressure      2920 non-null   object
 18  Seville_rain_1h       2920 non-null   float64
 19  Bilbao_snow_3h        2920 non-null   int64
 20  Barcelona_pressure    2920 non-null   float64
 21  Seville_rain_3h       2920 non-null   float64
 22  Madrid_rain_1h        2920 non-null   float64
 23  Barcelona_rain_3h     2920 non-null   float64
 24  Valencia_snow_3h      2920 non-null   int64
 25  Madrid_weather_id     2920 non-null   float64
 26  Barcelona_weather_id  2920 non-null   float64
 27  Bilbao_pressure       2920 non-null   float64
 28  Seville_weather_id    2920 non-null   float64
 29  Valencia_pressure     2466 non-null   float64
 30  Seville_temp_max      2920 non-null   float64
 31  Madrid_pressure       2920 non-null   float64
 32  Valencia_temp_max     2920 non-null   float64
 33  Valencia_temp         2920 non-null   float64
 34  Bilbao_weather_id     2920 non-null   float64
 35  Seville_temp          2920 non-null   float64
 36  Valencia_humidity     2920 non-null   float64
 37  Valencia_temp_min     2920 non-null   float64
 38  Barcelona_temp_max    2920 non-null   float64
 39  Madrid_temp_max       2920 non-null   float64
 40  Barcelona_temp        2920 non-null   float64
 41  Bilbao_temp_min       2920 non-null   float64
 42  Bilbao_temp           2920 non-null   float64
 43  Barcelona_temp_min    2920 non-null   float64
 44  Bilbao_temp_max       2920 non-null   float64
 45  Seville_temp_min      2920 non-null   float64
 46  Madrid_temp           2920 non-null   float64
 47  Madrid_temp_min       2920 non-null   float64
dtypes: datetime64[ns](1), float64(42), int64(3), object(2)
memory usage: 1.1+ MB

In [5]:
!pip install fast_ml
!pip install flaml
from sklearn.metrics import mean_absolute_percentage_error

Requirement already satisfied: fast_ml in c:\users\maxwellm\anaconda3\lib\site-packages (3.68)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: flaml in c:\users\maxwellm\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: NumPy>=1.17.0rc1 in c:\users\maxwellm\anaconda3\lib\site-packages (from flaml) (1.24.3)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
from fast_ml.feature_engineering import FeatureEngineering_DateTime
dt_fe = FeatureEngineering_DateTime()
dt_fe.fit(train, datetime_variables=['time'])
train = dt_fe.transform(train)
train.head()

C:\Users\MaxwellM\anaconda3\Lib\site-packages\fast_ml\feature_engineering.py:382: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df[pfx+f] = getattr(df[var].dt, f)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,time:is_quarter_end,time:is_quarter_start,time:is_year_end,time:is_year_start,time:time,time:hour,time:minute,time:second,time:is_weekend,time:day_part
0,0,2015-01-01 03:00:00,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,...,False,True,False,True,03:00:00,3,0,0,0,midnight
1,1,2015-01-01 06:00:00,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,...,False,True,False,True,06:00:00,6,0,0,0,early morning
2,2,2015-01-01 09:00:00,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,...,False,True,False,True,09:00:00,9,0,0,0,late morning
3,3,2015-01-01 12:00:00,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,...,False,True,False,True,12:00:00,12,0,0,0,noon
4,4,2015-01-01 15:00:00,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,...,False,True,False,True,15:00:00,15,0,0,0,afternoon

In [7]:
dt_fe.fit(test, datetime_variables=['time'])
test = dt_fe.transform(test)
test.head()

C:\Users\MaxwellM\anaconda3\Lib\site-packages\fast_ml\feature_engineering.py:382: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df[pfx+f] = getattr(df[var].dt, f)

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,...,time:is_quarter_end,time:is_quarter_start,time:is_year_end,time:is_year_start,time:time,time:hour,time:minute,time:second,time:is_weekend,time:day_part
0,8763,2018-01-01 00:00:00,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,...,False,True,False,True,00:00:00,0,0,0,0,None
1,8764,2018-01-01 03:00:00,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,...,False,True,False,True,03:00:00,3,0,0,0,midnight
2,8765,2018-01-01 06:00:00,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,...,False,True,False,True,06:00:00,6,0,0,0,early morning
3,8766,2018-01-01 09:00:00,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,...,False,True,False,True,09:00:00,9,0,0,0,late morning
4,8767,2018-01-01 12:00:00,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,...,False,True,False,True,12:00:00,12,0,0,0,noon

In [8]:
nunique_train=train.nunique().reset_index()
remove_col=nunique_train[(nunique_train[0]==len(train)) | (nunique_train[0]==0) | (nunique_train[0]==1) ]['index'].tolist()
remove_col

['Unnamed: 0', 'time', 'time:minute', 'time:second']

In [9]:
train=train.drop(remove_col,axis=1)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Madrid_wind_speed      8763 non-null   float64
 1   Valencia_wind_deg      8763 non-null   object
 2   Bilbao_rain_1h         8763 non-null   float64
 3   Valencia_wind_speed    8763 non-null   float64
 4   Seville_humidity       8763 non-null   float64
 5   Madrid_humidity        8763 non-null   float64
 6   Bilbao_clouds_all      8763 non-null   float64
 7   Bilbao_wind_speed      8763 non-null   float64
 8   Seville_clouds_all     8763 non-null   float64
 9   Bilbao_wind_deg        8763 non-null   float64
 10  Barcelona_wind_speed   8763 non-null   float64
 11  Barcelona_wind_deg     8763 non-null   float64
 12  Madrid_clouds_all      8763 non-null   float64
 13  Seville_wind_speed     8763 non-null   float64
 14  Barcelona_rain_1h      8763 non-null   float64
 15  Seville_pressure       8763 non-null   object
 16  Seville_rain_1h        8763 non-null   float64
 17  Bilbao_snow_3h         8763 non-null   float64
 18  Barcelona_pressure     8763 non-null   float64
 19  Seville_rain_3h        8763 non-null   float64
 20  Madrid_rain_1h         8763 non-null   float64
 21  Barcelona_rain_3h      8763 non-null   float64
 22  Valencia_snow_3h       8763 non-null   float64
 23  Madrid_weather_id      8763 non-null   float64
 24  Barcelona_weather_id   8763 non-null   float64
 25  Bilbao_pressure        8763 non-null   float64
 26  Seville_weather_id     8763 non-null   float64
 27  Valencia_pressure      6695 non-null   float64
 28  Seville_temp_max       8763 non-null   float64
 29  Madrid_pressure        8763 non-null   float64
 30  Valencia_temp_max      8763 non-null   float64
 31  Valencia_temp          8763 non-null   float64
 32  Bilbao_weather_id      8763 non-null   float64
 33  Seville_temp           8763 non-null   float64
 34  Valencia_humidity      8763 non-null   float64
 35  Valencia_temp_min      8763 non-null   float64
 36  Barcelona_temp_max     8763 non-null   float64
 37  Madrid_temp_max        8763 non-null   float64
 38  Barcelona_temp         8763 non-null   float64
 39  Bilbao_temp_min        8763 non-null   float64
 40  Bilbao_temp            8763 non-null   float64
 41  Barcelona_temp_min     8763 non-null   float64
 42  Bilbao_temp_max        8763 non-null   float64
 43  Seville_temp_min       8763 non-null   float64
 44  Madrid_temp            8763 non-null   float64
 45  Madrid_temp_min        8763 non-null   float64
 46  load_shortfall_3h      8763 non-null   float64
 47  time:year              8763 non-null   int64
 48  time:quarter           8763 non-null   int64
 49  time:month             8763 non-null   int64
 50  time:day               8763 non-null   int64
 51  time:day_of_week       8763 non-null   int64
 52  time:day_of_year       8763 non-null   int64
 53  time:weekofyear        8763 non-null   int64
 54  time:is_month_end      8763 non-null   bool
 55  time:is_month_start    8763 non-null   bool
 56  time:is_quarter_end    8763 non-null   bool
 57  time:is_quarter_start  8763 non-null   bool
 58  time:is_year_end       8763 non-null   bool
 59  time:is_year_start     8763 non-null   bool
 60  time:time              8763 non-null   object
 61  time:hour              8763 non-null   int64
 62  time:is_weekend        8763 non-null   int32
 63  time:day_part          7668 non-null   object
dtypes: bool(6), float64(45), int32(1), int64(8), object(4)
memory usage: 3.9+ MB

In [10]:
test=test.drop(remove_col,axis=1)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Madrid_wind_speed      2920 non-null   float64
 1   Valencia_wind_deg      2920 non-null   object
 2   Bilbao_rain_1h         2920 non-null   float64
 3   Valencia_wind_speed    2920 non-null   float64
 4   Seville_humidity       2920 non-null   float64
 5   Madrid_humidity        2920 non-null   float64
 6   Bilbao_clouds_all      2920 non-null   float64
 7   Bilbao_wind_speed      2920 non-null   float64
 8   Seville_clouds_all     2920 non-null   float64
 9   Bilbao_wind_deg        2920 non-null   float64
 10  Barcelona_wind_speed   2920 non-null   float64
 11  Barcelona_wind_deg     2920 non-null   float64
 12  Madrid_clouds_all      2920 non-null   float64
 13  Seville_wind_speed     2920 non-null   float64
 14  Barcelona_rain_1h      2920 non-null   float64
 15  Seville_pressure       2920 non-null   object
 16  Seville_rain_1h        2920 non-null   float64
 17  Bilbao_snow_3h         2920 non-null   int64
 18  Barcelona_pressure     2920 non-null   float64
 19  Seville_rain_3h        2920 non-null   float64
 20  Madrid_rain_1h         2920 non-null   float64
 21  Barcelona_rain_3h      2920 non-null   float64
 22  Valencia_snow_3h       2920 non-null   int64
 23  Madrid_weather_id      2920 non-null   float64
 24  Barcelona_weather_id   2920 non-null   float64
 25  Bilbao_pressure        2920 non-null   float64
 26  Seville_weather_id     2920 non-null   float64
 27  Valencia_pressure      2466 non-null   float64
 28  Seville_temp_max       2920 non-null   float64
 29  Madrid_pressure        2920 non-null   float64
 30  Valencia_temp_max      2920 non-null   float64
 31  Valencia_temp          2920 non-null   float64
 32  Bilbao_weather_id      2920 non-null   float64
 33  Seville_temp           2920 non-null   float64
 34  Valencia_humidity      2920 non-null   float64
 35  Valencia_temp_min      2920 non-null   float64
 36  Barcelona_temp_max     2920 non-null   float64
 37  Madrid_temp_max        2920 non-null   float64
 38  Barcelona_temp         2920 non-null   float64
 39  Bilbao_temp_min        2920 non-null   float64
 40  Bilbao_temp            2920 non-null   float64
 41  Barcelona_temp_min     2920 non-null   float64
 42  Bilbao_temp_max        2920 non-null   float64
 43  Seville_temp_min       2920 non-null   float64
 44  Madrid_temp            2920 non-null   float64
 45  Madrid_temp_min        2920 non-null   float64
 46  time:year              2920 non-null   int64
 47  time:quarter           2920 non-null   int64
 48  time:month             2920 non-null   int64
 49  time:day               2920 non-null   int64
 50  time:day_of_week       2920 non-null   int64
 51  time:day_of_year       2920 non-null   int64
 52  time:weekofyear        2920 non-null   int64
 53  time:is_month_end      2920 non-null   bool
 54  time:is_month_start    2920 non-null   bool
 55  time:is_quarter_end    2920 non-null   bool
 56  time:is_quarter_start  2920 non-null   bool
 57  time:is_year_end       2920 non-null   bool
 58  time:is_year_start     2920 non-null   bool
 59  time:time              2920 non-null   object
 60  time:hour              2920 non-null   int64
 61  time:is_weekend        2920 non-null   int32
 62  time:day_part          2555 non-null   object
dtypes: bool(6), float64(42), int32(1), int64(10), object(4)
memory usage: 1.3+ MB

In [11]:
nunique_train=train.nunique().reset_index()
remove_col=nunique_train[(nunique_train[0]==len(train)) | (nunique_train[0]==0) | (nunique_train[0]==1) ]['index'].tolist()
remove_col

[]

In [12]:
pd.options.display.max_columns = None
train.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h,time:year,time:quarter,time:month,time:day,time:day_of_week,time:day_of_year,time:weekofyear,time:is_month_end,time:is_month_start,time:is_quarter_end,time:is_quarter_start,time:is_year_end,time:is_year_start,time:time,time:hour,time:is_weekend,time:day_part
0,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,sp25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667,2015,1,1,1,3,1,1,False,True,False,True,False,True,03:00:00,3,0,midnight
1,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,sp25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667,2015,1,1,1,3,1,1,False,True,False,True,False,True,06:00:00,6,0,early morning
2,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,sp25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667,2015,1,1,1,3,1,1,False,True,False,True,False,True,09:00:00,9,0,late morning
3,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,sp25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667,2015,1,1,1,3,1,1,False,True,False,True,False,True,12:00:00,12,0,noon
4,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,NaN,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667,2015,1,1,1,3,1,1,False,True,False,True,False,True,15:00:00,15,0,afternoon

In [13]:
train['time:is_weekend']=train['time:is_weekend'].replace({0:False,1:True})
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 64 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Madrid_wind_speed      8763 non-null   float64
 1   Valencia_wind_deg      8763 non-null   object
 2   Bilbao_rain_1h         8763 non-null   float64
 3   Valencia_wind_speed    8763 non-null   float64
 4   Seville_humidity       8763 non-null   float64
 5   Madrid_humidity        8763 non-null   float64
 6   Bilbao_clouds_all      8763 non-null   float64
 7   Bilbao_wind_speed      8763 non-null   float64
 8   Seville_clouds_all     8763 non-null   float64
 9   Bilbao_wind_deg        8763 non-null   float64
 10  Barcelona_wind_speed   8763 non-null   float64
 11  Barcelona_wind_deg     8763 non-null   float64
 12  Madrid_clouds_all      8763 non-null   float64
 13  Seville_wind_speed     8763 non-null   float64
 14  Barcelona_rain_1h      8763 non-null   float64
 15  Seville_pressure       8763 non-null   object
 16  Seville_rain_1h        8763 non-null   float64
 17  Bilbao_snow_3h         8763 non-null   float64
 18  Barcelona_pressure     8763 non-null   float64
 19  Seville_rain_3h        8763 non-null   float64
 20  Madrid_rain_1h         8763 non-null   float64
 21  Barcelona_rain_3h      8763 non-null   float64
 22  Valencia_snow_3h       8763 non-null   float64
 23  Madrid_weather_id      8763 non-null   float64
 24  Barcelona_weather_id   8763 non-null   float64
 25  Bilbao_pressure        8763 non-null   float64
 26  Seville_weather_id     8763 non-null   float64
 27  Valencia_pressure      6695 non-null   float64
 28  Seville_temp_max       8763 non-null   float64
 29  Madrid_pressure        8763 non-null   float64
 30  Valencia_temp_max      8763 non-null   float64
 31  Valencia_temp          8763 non-null   float64
 32  Bilbao_weather_id      8763 non-null   float64
 33  Seville_temp           8763 non-null   float64
 34  Valencia_humidity      8763 non-null   float64
 35  Valencia_temp_min      8763 non-null   float64
 36  Barcelona_temp_max     8763 non-null   float64
 37  Madrid_temp_max        8763 non-null   float64
 38  Barcelona_temp         8763 non-null   float64
 39  Bilbao_temp_min        8763 non-null   float64
 40  Bilbao_temp            8763 non-null   float64
 41  Barcelona_temp_min     8763 non-null   float64
 42  Bilbao_temp_max        8763 non-null   float64
 43  Seville_temp_min       8763 non-null   float64
 44  Madrid_temp            8763 non-null   float64
 45  Madrid_temp_min        8763 non-null   float64
 46  load_shortfall_3h      8763 non-null   float64
 47  time:year              8763 non-null   int64
 48  time:quarter           8763 non-null   int64
 49  time:month             8763 non-null   int64
 50  time:day               8763 non-null   int64
 51  time:day_of_week       8763 non-null   int64
 52  time:day_of_year       8763 non-null   int64
 53  time:weekofyear        8763 non-null   int64
 54  time:is_month_end      8763 non-null   bool
 55  time:is_month_start    8763 non-null   bool
 56  time:is_quarter_end    8763 non-null   bool
 57  time:is_quarter_start  8763 non-null   bool
 58  time:is_year_end       8763 non-null   bool
 59  time:is_year_start     8763 non-null   bool
 60  time:time              8763 non-null   object
 61  time:hour              8763 non-null   int64
 62  time:is_weekend        8763 non-null   bool
 63  time:day_part          7668 non-null   object
dtypes: bool(7), float64(45), int64(8), object(4)
memory usage: 3.9+ MB

In [14]:
test['time:is_weekend']=test['time:is_weekend'].replace({0:False,1:True})
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 63 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Madrid_wind_speed      2920 non-null   float64
 1   Valencia_wind_deg      2920 non-null   object
 2   Bilbao_rain_1h         2920 non-null   float64
 3   Valencia_wind_speed    2920 non-null   float64
 4   Seville_humidity       2920 non-null   float64
 5   Madrid_humidity        2920 non-null   float64
 6   Bilbao_clouds_all      2920 non-null   float64
 7   Bilbao_wind_speed      2920 non-null   float64
 8   Seville_clouds_all     2920 non-null   float64
 9   Bilbao_wind_deg        2920 non-null   float64
 10  Barcelona_wind_speed   2920 non-null   float64
 11  Barcelona_wind_deg     2920 non-null   float64
 12  Madrid_clouds_all      2920 non-null   float64
 13  Seville_wind_speed     2920 non-null   float64
 14  Barcelona_rain_1h      2920 non-null   float64
 15  Seville_pressure       2920 non-null   object
 16  Seville_rain_1h        2920 non-null   float64
 17  Bilbao_snow_3h         2920 non-null   int64
 18  Barcelona_pressure     2920 non-null   float64
 19  Seville_rain_3h        2920 non-null   float64
 20  Madrid_rain_1h         2920 non-null   float64
 21  Barcelona_rain_3h      2920 non-null   float64
 22  Valencia_snow_3h       2920 non-null   int64
 23  Madrid_weather_id      2920 non-null   float64
 24  Barcelona_weather_id   2920 non-null   float64
 25  Bilbao_pressure        2920 non-null   float64
 26  Seville_weather_id     2920 non-null   float64
 27  Valencia_pressure      2466 non-null   float64
 28  Seville_temp_max       2920 non-null   float64
 29  Madrid_pressure        2920 non-null   float64
 30  Valencia_temp_max      2920 non-null   float64
 31  Valencia_temp          2920 non-null   float64
 32  Bilbao_weather_id      2920 non-null   float64
 33  Seville_temp           2920 non-null   float64
 34  Valencia_humidity      2920 non-null   float64
 35  Valencia_temp_min      2920 non-null   float64
 36  Barcelona_temp_max     2920 non-null   float64
 37  Madrid_temp_max        2920 non-null   float64
 38  Barcelona_temp         2920 non-null   float64
 39  Bilbao_temp_min        2920 non-null   float64
 40  Bilbao_temp            2920 non-null   float64
 41  Barcelona_temp_min     2920 non-null   float64
 42  Bilbao_temp_max        2920 non-null   float64
 43  Seville_temp_min       2920 non-null   float64
 44  Madrid_temp            2920 non-null   float64
 45  Madrid_temp_min        2920 non-null   float64
 46  time:year              2920 non-null   int64
 47  time:quarter           2920 non-null   int64
 48  time:month             2920 non-null   int64
 49  time:day               2920 non-null   int64
 50  time:day_of_week       2920 non-null   int64
 51  time:day_of_year       2920 non-null   int64
 52  time:weekofyear        2920 non-null   int64
 53  time:is_month_end      2920 non-null   bool
 54  time:is_month_start    2920 non-null   bool
 55  time:is_quarter_end    2920 non-null   bool
 56  time:is_quarter_start  2920 non-null   bool
 57  time:is_year_end       2920 non-null   bool
 58  time:is_year_start     2920 non-null   bool
 59  time:time              2920 non-null   object
 60  time:hour              2920 non-null   int64
 61  time:is_weekend        2920 non-null   bool
 62  time:day_part          2555 non-null   object
dtypes: bool(7), float64(42), int64(10), object(4)
memory usage: 1.3+ MB

In [15]:
train=train.drop(['time:time','time:is_year_start','time:is_quarter_start','time:is_month_start'],axis=1)
train.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h,time:year,time:quarter,time:month,time:day,time:day_of_week,time:day_of_year,time:weekofyear,time:is_month_end,time:is_quarter_end,time:is_year_end,time:hour,time:is_weekend,time:day_part
0,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,sp25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667,2015,1,1,1,3,1,1,False,False,False,3,False,midnight
1,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,sp25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667,2015,1,1,1,3,1,1,False,False,False,6,False,early morning
2,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,sp25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667,2015,1,1,1,3,1,1,False,False,False,9,False,late morning
3,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,sp25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667,2015,1,1,1,3,1,1,False,False,False,12,False,noon
4,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,NaN,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667,2015,1,1,1,3,1,1,False,False,False,15,False,afternoon

In [16]:
test=test.drop(['time:time','time:is_year_start','time:is_quarter_start','time:is_month_start'],axis=1)
test.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,time:year,time:quarter,time:month,time:day,time:day_of_week,time:day_of_year,time:weekofyear,time:is_month_end,time:is_quarter_end,time:is_year_end,time:hour,time:is_weekend,time:day_part
0,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,0.000000,193.333333,4.000000,176.666667,0.0,1.000000,0.0,sp25,0.0,0,1017.333333,0.0,0.0,0.0,0,800.0,800.000000,1025.666667,800.000000,NaN,284.483333,1030.000000,287.483333,287.483333,801.000000,283.673333,46.333333,287.483333,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000,2018,1,1,1,0,1,1,False,False,False,0,False,None
1,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,0.000000,143.333333,4.666667,266.666667,0.0,0.666667,0.0,sp25,0.0,0,1020.333333,0.0,0.0,0.0,0,800.0,800.333333,1026.666667,800.000000,NaN,282.483333,1030.333333,284.150000,284.150000,721.000000,281.673333,53.666667,284.150000,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000,2018,1,1,1,0,1,1,False,False,False,3,False,midnight
2,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,6.666667,130.000000,4.000000,263.333333,0.0,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.0,800.000000,1025.333333,800.333333,NaN,280.816667,1030.666667,282.816667,282.816667,800.000000,280.613333,42.000000,282.816667,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000,2018,1,1,1,0,1,1,False,False,False,6,False,early morning
3,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,6.666667,196.666667,2.333333,86.666667,0.0,1.333333,0.0,sp25,0.0,0,1025.666667,0.0,0.0,0.0,0,800.0,800.000000,1025.000000,800.333333,NaN,281.150000,1032.333333,283.483333,283.483333,801.333333,279.936667,45.000000,283.483333,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333,2018,1,1,1,0,1,1,False,False,False,9,False,late morning
4,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,0.000000,233.333333,4.666667,283.333333,0.0,1.000000,0.0,sp25,0.0,0,1026.000000,0.0,0.0,0.0,0,800.0,800.333333,1022.333333,800.000000,NaN,287.150000,1032.333333,287.150000,287.150000,801.333333,285.570000,41.000000,287.150000,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000,2018,1,1,1,0,1,1,False,False,False,12,False,noon

In [17]:
train[train.isna().any(axis=1)]

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h,time:year,time:quarter,time:month,time:day,time:day_of_week,time:day_of_year,time:weekofyear,time:is_month_end,time:is_quarter_end,time:is_year_end,time:hour,time:is_weekend,time:day_part
4,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.000000,0.333333,0.000000,185.000000,4.333333,260.000000,0.000000,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.000000,800.000000,1035.333333,800.000000,NaN,285.513719,1035.333333,283.015115,283.015115,800.000000,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667,2015,1,1,1,3,1,1,False,False,False,15,False,afternoon
5,1.000000,level_7,0.0,1.000000,69.666667,67.333333,12.333333,0.666667,0.000000,191.333333,4.666667,254.666667,0.000000,2.666667,0.0,sp25,0.0,0.0,1035.666667,0.0,0.0,0.0,0.0,800.000000,800.000000,1035.666667,800.000000,NaN,282.077844,1013.333333,277.622563,277.622563,800.666667,282.077844,72.666667,277.622563,284.165625,274.639229,284.165625,277.919000,277.919000,284.165625,277.919000,282.077844,274.639229,274.639229,6842.000000,2015,1,1,1,3,1,1,False,False,False,18,False,evening
7,1.000000,level_9,0.0,1.000000,83.666667,64.000000,8.666667,1.333333,0.000000,238.666667,2.000000,310.000000,0.000000,2.333333,0.0,sp25,0.0,0.0,1037.666667,0.0,0.0,0.0,0.0,800.000000,800.000000,1036.000000,800.000000,1005.666667,276.457333,974.666667,271.040667,271.040667,800.333333,276.457333,82.000000,271.040667,282.474000,266.882333,282.474000,272.903167,272.903167,282.474000,272.903167,276.457333,266.882333,266.882333,10866.000000,2015,1,1,2,4,2,1,False,False,False,0,False,None
12,1.000000,level_7,0.0,1.000000,74.333333,55.666667,20.000000,0.666667,0.000000,260.666667,2.000000,261.333333,8.666667,3.666667,0.0,sp25,0.0,0.0,1036.000000,0.0,0.0,0.0,0.0,800.333333,800.000000,1038.000000,800.000000,NaN,285.707052,1037.333333,284.821781,284.821781,801.000000,285.707052,46.333333,284.821781,285.902333,282.448177,285.902333,282.730115,282.730115,285.902333,282.730115,285.707052,282.448177,282.448177,65.000000,2015,1,1,2,4,2,1,False,False,False,15,False,afternoon
15,1.000000,level_9,0.0,1.000000,88.000000,69.666667,2.000000,1.000000,0.000000,199.000000,2.666667,318.666667,1.333333,3.000000,0.0,sp25,0.0,0.0,1036.666667,0.0,0.0,0.0,0.0,800.000000,801.333333,1037.000000,800.000000,1006.666667,277.625333,986.666667,272.211000,272.211000,800.000000,277.625333,78.666667,272.211000,283.386667,269.146167,283.386667,273.145219,273.145219,283.386667,273.145219,277.625333,269.146167,269.146167,7125.333333,2015,1,1,3,5,3,1,False,False,False,0,True,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1.000000,level_8,0.0,2.333333,95.333333,100.000000,0.000000,4.666667,12.000000,143.333333,1.000000,280.000000,76.000000,0.333333,0.0,sp22,0.0,0.0,1024.000000,0.0,0.0,0.0,0.0,803.000000,800.000000,1021.000000,800.666667,NaN,283.816667,1027.000000,283.816667,283.816667,773.666667,282.806667,74.333333,283.816667,283.483333,278.150000,281.983333,283.816667,286.443333,280.483333,289.483333,282.150000,278.006667,277.816667,7801.000000,2017,4,12,31,6,365,52,True,True,True,0,True,None
8756,0.666667,level_8,0.0,2.000000,97.666667,100.000000,24.000000,4.666667,48.000000,146.666667,2.000000,310.000000,85.000000,0.333333,0.0,sp22,0.0,0.0,1023.333333,0.0,0.0,0.0,0.0,803.666667,800.333333,1018.666667,802.000000,NaN,283.483333,1025.666667,281.816667,281.816667,774.333333,282.876667,75.666667,281.816667,283.150000,278.150000,282.066667,284.150000,286.830000,280.816667,290.150000,282.483333,278.006667,277.816667,3702.666667,2017,4,12,31,6,365,52,True,True,True,3,True,midnight
8757,0.333333,level_8,0.0,2.333333,93.000000,100.000000,0.000000,3.666667,61.666667,113.333333,0.666667,140.000000,85.000000,0.666667,0.0,sp22,0.0,0.0,1021.333333,0.0,0.0,0.0,0.0,803.666667,800.000000,1016.333333,707.666667,NaN,284.483333,1024.000000,280.483333,280.483333,800.000000,284.103333,77.000000,280.483333,281.150000,279.816667,279.856667,284.150000,286.680000,278.483333,289.816667,283.816667,279.716667,279.483333,-380.666667,2017,4,12,31,6,365,52,True,True,True,6,True,early morning
8758,1.000000,level_6,0.0,2.666667,89.000000,95.666667,56.666667,4.333333,80.000000,226.666667,1.666667,83.666667,45.000000,1.000000,0.0,sp23,0.0,0.0,1021.000000,0.0,0.0,0.0,0.0,727.666667,801.000000,1017.666667,769.333333,NaN,285.483333,1024.000000,282.483333,282.483333,802.333333,285.076667,71.333333,282.483333,282.150000,280.816667,281.276667,285.150000,287.573333,280.483333,290.150000,284.816667,279.686667,278.483333,-28.333333,2017,4,12,31,6,365,52,True,True,True,9,True,late morning
8762,4.333333,level_9,0.0,7.000000,78.666667,68.666667,20.000000,1.666667,33.333333,156.666667,4.333333,253.333333,0.000000,1.666667,0.0,sp25,0.0,0.0,1016.000000,0.0,0.0,0.0,0.0,800.000000,800.000000,1023.666667,801.666667,NaN,289.150000,1027.333333,289.483333,289.483333,801.000000,288.140000,50.000000,289.483333,287.816667,282.150000,287.483333,276.816667,281.020000,287.150000,285.150000,287.483333,281.396667,280.483333,2780.666667,2017,4,12,31,6,365,52,True,True,True,21,True,night

In [18]:
import numpy as np
train['time:day_part'] = train['time:day_part'].fillna(value=np.nan)
train['time:day_part'].unique()

array(['midnight', 'early morning', 'late morning', 'noon', 'afternoon',
       'evening', 'night', nan], dtype=object)

In [19]:
test['time:day_part'] = test['time:day_part'].fillna(value=np.nan)
test['time:day_part'].unique()

array([nan, 'midnight', 'early morning', 'late morning', 'noon',
       'afternoon', 'evening', 'night'], dtype=object)

In [20]:
round(train.isnull().sum()*100/len(train),2).sort_values(ascending=False)[:5]

Valencia_pressure    23.6
time:day_part        12.5
Valencia_temp         0.0
Seville_temp          0.0
Valencia_humidity     0.0
dtype: float64

In [21]:
train['time:day_part'] = train['time:day_part'].fillna(value='midnight')
round(train.isnull().sum()*100/len(train),2).sort_values(ascending=False)[:5]

Valencia_pressure    23.6
Madrid_wind_speed     0.0
Valencia_temp         0.0
Seville_temp          0.0
Valencia_humidity     0.0
dtype: float64

In [22]:
test['time:day_part'] = test['time:day_part'].fillna(value='midnight')
round(test.isnull().sum()*100/len(test),2).sort_values(ascending=False)[:5]

Valencia_pressure    15.55
Madrid_wind_speed     0.00
Valencia_temp_max     0.00
Bilbao_weather_id     0.00
Seville_temp          0.00
dtype: float64

In [23]:
train['time:day_part']=train['time:day_part'].replace({'midnight':0, 'early morning':1, 'late morning':2, 'noon':3,
                                                       'afternoon':4,'evening':5, 'night':6 })
      
train['time:day_part'].value_counts()

0    2191
1    1096
2    1096
3    1096
6    1096
4    1094
5    1094
Name: time:day_part, dtype: int64

In [24]:
test['time:day_part']=test['time:day_part'].replace({'midnight':0, 'early morning':1, 'late morning':2, 'noon':3,
                                                       'afternoon':4,'evening':5, 'night':6 })
      
test['time:day_part'].value_counts()

0    730
1    365
2    365
3    365
4    365
5    365
6    365
Name: time:day_part, dtype: int64

In [25]:
train[train.isna().any(axis=1)]

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h,time:year,time:quarter,time:month,time:day,time:day_of_week,time:day_of_year,time:weekofyear,time:is_month_end,time:is_quarter_end,time:is_year_end,time:hour,time:is_weekend,time:day_part
4,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.000000,0.333333,0.000000,185.000000,4.333333,260.000000,0.000000,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.000000,800.000000,1035.333333,800.000000,NaN,285.513719,1035.333333,283.015115,283.015115,800.000000,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667,2015,1,1,1,3,1,1,False,False,False,15,False,4
5,1.000000,level_7,0.0,1.000000,69.666667,67.333333,12.333333,0.666667,0.000000,191.333333,4.666667,254.666667,0.000000,2.666667,0.0,sp25,0.0,0.0,1035.666667,0.0,0.0,0.0,0.0,800.000000,800.000000,1035.666667,800.000000,NaN,282.077844,1013.333333,277.622563,277.622563,800.666667,282.077844,72.666667,277.622563,284.165625,274.639229,284.165625,277.919000,277.919000,284.165625,277.919000,282.077844,274.639229,274.639229,6842.000000,2015,1,1,1,3,1,1,False,False,False,18,False,5
12,1.000000,level_7,0.0,1.000000,74.333333,55.666667,20.000000,0.666667,0.000000,260.666667,2.000000,261.333333,8.666667,3.666667,0.0,sp25,0.0,0.0,1036.000000,0.0,0.0,0.0,0.0,800.333333,800.000000,1038.000000,800.000000,NaN,285.707052,1037.333333,284.821781,284.821781,801.000000,285.707052,46.333333,284.821781,285.902333,282.448177,285.902333,282.730115,282.730115,285.902333,282.730115,285.707052,282.448177,282.448177,65.000000,2015,1,1,2,4,2,1,False,False,False,15,False,4
50,1.000000,level_6,0.0,1.000000,75.333333,71.666667,0.000000,1.000000,0.000000,210.333333,0.666667,222.666667,0.000000,3.000000,0.3,sp23,0.0,0.0,1030.000000,0.0,0.0,0.0,0.0,800.000000,500.000000,1030.333333,800.000000,NaN,283.897948,1030.333333,282.978229,282.978229,800.000000,283.897948,79.000000,282.978229,284.117385,280.253500,284.117385,281.581281,281.581281,284.117385,281.581281,283.897948,280.253500,280.253500,14613.666667,2015,1,1,7,2,7,2,False,False,False,15,False,4
51,1.000000,level_5,0.0,1.000000,84.000000,73.000000,0.000000,1.000000,0.000000,201.333333,1.000000,322.000000,0.000000,3.000000,0.1,sp25,0.0,0.0,1028.666667,0.0,0.0,0.0,0.0,800.000000,700.333333,1031.000000,800.000000,NaN,280.711250,995.333333,280.091833,280.091833,800.000000,280.711250,89.333333,280.091833,284.339063,273.492500,284.339063,278.329104,278.329104,284.339063,278.329104,280.711250,273.492500,273.492500,14671.000000,2015,1,1,7,2,7,2,False,False,False,18,False,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,1.000000,level_8,0.0,2.333333,95.333333,100.000000,0.000000,4.666667,12.000000,143.333333,1.000000,280.000000,76.000000,0.333333,0.0,sp22,0.0,0.0,1024.000000,0.0,0.0,0.0,0.0,803.000000,800.000000,1021.000000,800.666667,NaN,283.816667,1027.000000,283.816667,283.816667,773.666667,282.806667,74.333333,283.816667,283.483333,278.150000,281.983333,283.816667,286.443333,280.483333,289.483333,282.150000,278.006667,277.816667,7801.000000,2017,4,12,31,6,365,52,True,True,True,0,True,0
8756,0.666667,level_8,0.0,2.000000,97.666667,100.000000,24.000000,4.666667,48.000000,146.666667,2.000000,310.000000,85.000000,0.333333,0.0,sp22,0.0,0.0,1023.333333,0.0,0.0,0.0,0.0,803.666667,800.333333,1018.666667,802.000000,NaN,283.483333,1025.666667,281.816667,281.816667,774.333333,282.876667,75.666667,281.816667,283.150000,278.150000,282.066667,284.150000,286.830000,280.816667,290.150000,282.483333,278.006667,277.816667,3702.666667,2017,4,12,31,6,365,52,True,True,True,3,True,0
8757,0.333333,level_8,0.0,2.333333,93.000000,100.000000,0.000000,3.666667,61.666667,113.333333,0.666667,140.000000,85.000000,0.666667,0.0,sp22,0.0,0.0,1021.333333,0.0,0.0,0.0,0.0,803.666667,800.000000,1016.333333,707.666667,NaN,284.483333,1024.000000,280.483333,280.483333,800.000000,284.103333,77.000000,280.483333,281.150000,279.816667,279.856667,284.150000,286.680000,278.483333,289.816667,283.816667,279.716667,279.483333,-380.666667,2017,4,12,31,6,365,52,True,True,True,6,True,1
8758,1.000000,level_6,0.0,2.666667,89.000000,95.666667,56.666667,4.333333,80.000000,226.666667,1.666667,83.666667,45.000000,1.000000,0.0,sp23,0.0,0.0,1021.000000,0.0,0.0,0.0,0.0,727.666667,801.000000,1017.666667,769.333333,NaN,285.483333,1024.000000,282.483333,282.483333,802.333333,285.076667,71.333333,282.483333,282.150000,280.816667,281.276667,285.150000,287.573333,280.483333,290.150000,284.816667,279.686667,278.483333,-28.333333,2017,4,12,31,6,365,52,True,True,True,9,True,2
8762,4.333333,level_9,0.0,7.000000,78.666667,68.666667,20.000000,1.666667,33.333333,156.666667,4.333333,253.333333,0.000000,1.666667,0.0,sp25,0.0,0.0,1016.000000,0.0,0.0,0.0,0.0,800.000000,800.000000,1023.666667,801.666667,NaN,289.150000,1027.333333,289.483333,289.483333,801.000000,288.140000,50.000000,289.483333,287.816667,282.150000,287.483333,276.816667,281.020000,287.150000,285.150000,287.483333,281.396667,280.483333,2780.666667,2017,4,12,31,6,365,52,True,True,True,21,True,6

In [26]:
train.Valencia_wind_deg.value_counts()

level_1     1072
level_5      915
level_4      914
level_3      890
level_7      882
level_6      881
level_2      874
level_10     839
level_8      798
level_9      698
Name: Valencia_wind_deg, dtype: int64

In [27]:
import re
train = train.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
train.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,load_shortfall_3h,timeyear,timequarter,timemonth,timeday,timeday_of_week,timeday_of_year,timeweekofyear,timeis_month_end,timeis_quarter_end,timeis_year_end,timehour,timeis_weekend,timeday_part
0,0.666667,level_5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,sp25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,6715.666667,2015,1,1,1,3,1,1,False,False,False,3,False,0
1,0.333333,level_10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,sp25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,4171.666667,2015,1,1,1,3,1,1,False,False,False,6,False,1
2,1.000000,level_9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,sp25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,4274.666667,2015,1,1,1,3,1,1,False,False,False,9,False,2
3,1.000000,level_8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,sp25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,5075.666667,2015,1,1,1,3,1,1,False,False,False,12,False,3
4,1.000000,level_7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,sp25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,NaN,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,6620.666667,2015,1,1,1,3,1,1,False,False,False,15,False,4

In [28]:
test = test.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
test.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,timeyear,timequarter,timemonth,timeday,timeday_of_week,timeday_of_year,timeweekofyear,timeis_month_end,timeis_quarter_end,timeis_year_end,timehour,timeis_weekend,timeday_part
0,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,0.000000,193.333333,4.000000,176.666667,0.0,1.000000,0.0,sp25,0.0,0,1017.333333,0.0,0.0,0.0,0,800.0,800.000000,1025.666667,800.000000,NaN,284.483333,1030.000000,287.483333,287.483333,801.000000,283.673333,46.333333,287.483333,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000,2018,1,1,1,0,1,1,False,False,False,0,False,0
1,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,0.000000,143.333333,4.666667,266.666667,0.0,0.666667,0.0,sp25,0.0,0,1020.333333,0.0,0.0,0.0,0,800.0,800.333333,1026.666667,800.000000,NaN,282.483333,1030.333333,284.150000,284.150000,721.000000,281.673333,53.666667,284.150000,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000,2018,1,1,1,0,1,1,False,False,False,3,False,0
2,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,6.666667,130.000000,4.000000,263.333333,0.0,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.0,800.000000,1025.333333,800.333333,NaN,280.816667,1030.666667,282.816667,282.816667,800.000000,280.613333,42.000000,282.816667,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000,2018,1,1,1,0,1,1,False,False,False,6,False,1
3,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,6.666667,196.666667,2.333333,86.666667,0.0,1.333333,0.0,sp25,0.0,0,1025.666667,0.0,0.0,0.0,0,800.0,800.000000,1025.000000,800.333333,NaN,281.150000,1032.333333,283.483333,283.483333,801.333333,279.936667,45.000000,283.483333,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333,2018,1,1,1,0,1,1,False,False,False,9,False,2
4,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,0.000000,233.333333,4.666667,283.333333,0.0,1.000000,0.0,sp25,0.0,0,1026.000000,0.0,0.0,0.0,0,800.0,800.333333,1022.333333,800.000000,NaN,287.150000,1032.333333,287.150000,287.150000,801.333333,285.570000,41.000000,287.150000,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000,2018,1,1,1,0,1,1,False,False,False,12,False,3

In [29]:
train.Valencia_wind_deg=train.Valencia_wind_deg.replace({'level_5':5, 'level_10':10, 'level_9':9, 'level_8':8,
                                                         'level_7':7, 'level_6':6,'level_4':4, 'level_3':3, 'level_1':1, 
                                                         'level_2':2})
train.Valencia_wind_deg.value_counts()

1     1072
5      915
4      914
3      890
7      882
6      881
2      874
10     839
8      798
9      698
Name: Valencia_wind_deg, dtype: int64

In [30]:
test.Valencia_wind_deg=test.Valencia_wind_deg.replace({'level_5':5, 'level_10':10, 'level_9':9, 'level_8':8,
                                                         'level_7':7, 'level_6':6,'level_4':4, 'level_3':3, 'level_1':1, 
                                                         'level_2':2})
test.Valencia_wind_deg.value_counts()

8     414
9     364
10    328
7     319
6     303
3     277
4     263
5     260
2     252
1     140
Name: Valencia_wind_deg, dtype: int64

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 60 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Madrid_wind_speed     8763 non-null   float64
 1   Valencia_wind_deg     8763 non-null   int64
 2   Bilbao_rain_1h        8763 non-null   float64
 3   Valencia_wind_speed   8763 non-null   float64
 4   Seville_humidity      8763 non-null   float64
 5   Madrid_humidity       8763 non-null   float64
 6   Bilbao_clouds_all     8763 non-null   float64
 7   Bilbao_wind_speed     8763 non-null   float64
 8   Seville_clouds_all    8763 non-null   float64
 9   Bilbao_wind_deg       8763 non-null   float64
 10  Barcelona_wind_speed  8763 non-null   float64
 11  Barcelona_wind_deg    8763 non-null   float64
 12  Madrid_clouds_all     8763 non-null   float64
 13  Seville_wind_speed    8763 non-null   float64
 14  Barcelona_rain_1h     8763 non-null   float64
 15  Seville_pressure      8763 non-null   object
 16  Seville_rain_1h       8763 non-null   float64
 17  Bilbao_snow_3h        8763 non-null   float64
 18  Barcelona_pressure    8763 non-null   float64
 19  Seville_rain_3h       8763 non-null   float64
 20  Madrid_rain_1h        8763 non-null   float64
 21  Barcelona_rain_3h     8763 non-null   float64
 22  Valencia_snow_3h      8763 non-null   float64
 23  Madrid_weather_id     8763 non-null   float64
 24  Barcelona_weather_id  8763 non-null   float64
 25  Bilbao_pressure       8763 non-null   float64
 26  Seville_weather_id    8763 non-null   float64
 27  Valencia_pressure     6695 non-null   float64
 28  Seville_temp_max      8763 non-null   float64
 29  Madrid_pressure       8763 non-null   float64
 30  Valencia_temp_max     8763 non-null   float64
 31  Valencia_temp         8763 non-null   float64
 32  Bilbao_weather_id     8763 non-null   float64
 33  Seville_temp          8763 non-null   float64
 34  Valencia_humidity     8763 non-null   float64
 35  Valencia_temp_min     8763 non-null   float64
 36  Barcelona_temp_max    8763 non-null   float64
 37  Madrid_temp_max       8763 non-null   float64
 38  Barcelona_temp        8763 non-null   float64
 39  Bilbao_temp_min       8763 non-null   float64
 40  Bilbao_temp           8763 non-null   float64
 41  Barcelona_temp_min    8763 non-null   float64
 42  Bilbao_temp_max       8763 non-null   float64
 43  Seville_temp_min      8763 non-null   float64
 44  Madrid_temp           8763 non-null   float64
 45  Madrid_temp_min       8763 non-null   float64
 46  load_shortfall_3h     8763 non-null   float64
 47  timeyear              8763 non-null   int64
 48  timequarter           8763 non-null   int64
 49  timemonth             8763 non-null   int64
 50  timeday               8763 non-null   int64
 51  timeday_of_week       8763 non-null   int64
 52  timeday_of_year       8763 non-null   int64
 53  timeweekofyear        8763 non-null   int64
 54  timeis_month_end      8763 non-null   bool
 55  timeis_quarter_end    8763 non-null   bool
 56  timeis_year_end       8763 non-null   bool
 57  timehour              8763 non-null   int64
 58  timeis_weekend        8763 non-null   bool
 59  timeday_part          8763 non-null   int64
dtypes: bool(4), float64(45), int64(10), object(1)
memory usage: 3.8+ MB

In [32]:
train.Seville_pressure.unique()

array(['sp25', 'sp23', 'sp24', 'sp21', 'sp16', 'sp9', 'sp15', 'sp19',
       'sp22', 'sp11', 'sp8', 'sp4', 'sp6', 'sp13', 'sp17', 'sp20',
       'sp18', 'sp14', 'sp12', 'sp5', 'sp10', 'sp7', 'sp3', 'sp2', 'sp1'],
      dtype=object)

In [33]:
train.Seville_pressure=train.Seville_pressure.replace({'sp25':25, 'sp23':23, 'sp24':24, 'sp21':21, 'sp16':16, 
                                                       'sp9':9, 'sp15':15, 'sp19':19,
                                                       'sp22':22, 'sp11':11, 'sp8':8, 'sp4':4, 'sp6':6, 'sp13':13, 
                                                       'sp17':17, 'sp20':20,
                                                       'sp18':18, 'sp14':14, 'sp12':12, 'sp5':5, 'sp10':10, 'sp7':7,
                                                       'sp3':3, 'sp2':2, 'sp1':1})
train.Seville_pressure.value_counts()

13    500
10    460
8     418
6     411
25    410
21    408
24    405
4     404
17    401
18    395
22    392
16    392
12    378
5     372
19    357
20    340
23    339
15    326
2     325
3     309
1     270
14    255
9     183
7     174
11    139
Name: Seville_pressure, dtype: int64

In [34]:
test.Seville_pressure=test.Seville_pressure.replace({'sp25':25, 'sp23':23, 'sp24':24, 'sp21':21, 'sp16':16, 
                                                       'sp9':9, 'sp15':15, 'sp19':19,
                                                       'sp22':22, 'sp11':11, 'sp8':8, 'sp4':4, 'sp6':6, 'sp13':13, 
                                                       'sp17':17, 'sp20':20,
                                                       'sp18':18, 'sp14':14, 'sp12':12, 'sp5':5, 'sp10':10, 'sp7':7,
                                                       'sp3':3, 'sp2':2, 'sp1':1})
test.Seville_pressure.value_counts()

1     233
10    213
8     211
6     208
3     168
13    168
5     165
4     151
12    145
2     142
22    101
15    100
21     87
23     85
20     85
19     85
16     84
18     77
9      76
17     72
14     63
7      61
24     59
11     50
25     31
Name: Seville_pressure, dtype: int64

In [35]:
# !rm -r kuma_utils
!git clone https://github.com/analokmaus/kuma_utils.git

fatal: destination path 'kuma_utils' already exists and is not an empty directory.

In [36]:
import sys
sys.path.append("kuma_utils/")
from kuma_utils.preprocessing.imputer import LGBMImputer

In [37]:
col=train.columns.tolist()
col.remove('load_shortfall_3h')
col[:5]

['Madrid_wind_speed',
 'Valencia_wind_deg',
 'Bilbao_rain_1h',
 'Valencia_wind_speed',
 'Seville_humidity']

In [38]:
%%time
lgbm_imtr = LGBMImputer(n_iter=500)

train_iterimp = lgbm_imtr.fit_transform(train[col])
test_iterimp = lgbm_imtr.transform(test[col])

# Create train test imputed dataframe
train_ = pd.DataFrame(train_iterimp, columns=col)
test = pd.DataFrame(test_iterimp, columns=col)

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

CPU times: total: 9.72 s
Wall time: 1.57 s

In [39]:
#!pip install --user lightgbm==3.2.1

In [41]:
train_['load_shortfall_3h'] = train['load_shortfall_3h']
train=train_.copy()
del train_
train.head()

,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min,timeyear,timequarter,timemonth,timeday,timeday_of_week,timeday_of_year,timeweekofyear,timeis_month_end,timeis_quarter_end,timeis_year_end,timehour,timeis_weekend,timeday_part,load_shortfall_3h
0,0.666667,5,0.0,0.666667,74.333333,64.000000,0.0,1.000000,0.0,223.333333,6.333333,42.666667,0.0,3.333333,0.0,25,0.0,0.0,1036.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.000000,800.0,1002.666667,274.254667,971.333333,269.888000,269.888000,800.0,274.254667,75.666667,269.888000,281.013000,265.938000,281.013000,269.338615,269.338615,281.013000,269.338615,274.254667,265.938000,265.938000,2015,1,1,1,3,1,1,False,False,False,3,False,0,6715.666667
1,0.333333,10,0.0,1.666667,78.333333,64.666667,0.0,1.000000,0.0,221.000000,4.000000,139.000000,0.0,3.333333,0.0,25,0.0,0.0,1037.333333,0.0,0.0,0.0,0.0,800.0,800.0,1035.666667,800.0,1004.333333,274.945000,972.666667,271.728333,271.728333,800.0,274.945000,71.000000,271.728333,280.561667,266.386667,280.561667,270.376000,270.376000,280.561667,270.376000,274.945000,266.386667,266.386667,2015,1,1,1,3,1,1,False,False,False,6,False,1,4171.666667
2,1.000000,9,0.0,1.000000,71.333333,64.333333,0.0,1.000000,0.0,214.333333,2.000000,326.000000,0.0,2.666667,0.0,25,0.0,0.0,1038.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1005.333333,278.792000,974.000000,278.008667,278.008667,800.0,278.792000,65.666667,278.008667,281.583667,272.708667,281.583667,275.027229,275.027229,281.583667,275.027229,278.792000,272.708667,272.708667,2015,1,1,1,3,1,1,False,False,False,9,False,2,4274.666667
3,1.000000,8,0.0,1.000000,65.333333,56.333333,0.0,1.000000,0.0,199.666667,2.333333,273.000000,0.0,4.000000,0.0,25,0.0,0.0,1037.000000,0.0,0.0,0.0,0.0,800.0,800.0,1036.000000,800.0,1009.000000,285.394000,994.666667,284.899552,284.899552,800.0,285.394000,54.000000,284.899552,283.434104,281.895219,283.434104,281.135063,281.135063,283.434104,281.135063,285.394000,281.895219,281.895219,2015,1,1,1,3,1,1,False,False,False,12,False,3,5075.666667
4,1.000000,7,0.0,1.000000,59.000000,57.000000,2.0,0.333333,0.0,185.000000,4.333333,260.000000,0.0,3.000000,0.0,25,0.0,0.0,1035.000000,0.0,0.0,0.0,0.0,800.0,800.0,1035.333333,800.0,1020.691589,285.513719,1035.333333,283.015115,283.015115,800.0,285.513719,58.333333,283.015115,284.213167,280.678437,284.213167,282.252063,282.252063,284.213167,282.252063,285.513719,280.678437,280.678437,2015,1,1,1,3,1,1,False,False,False,15,False,4,6620.666667

In [42]:
y = train.pop('load_shortfall_3h')
X = train

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=42)

In [44]:
#pip install --upgrade scikit-learn

In [45]:
#pip install --upgrade imbalanced-learn

In [46]:
from flaml import AutoML
automl = AutoML()

In [47]:
automl.fit(X_train, y_train, task="regression",metric='rmse',time_budget=900)

[flaml.automl.logger: 11-09 13:40:19] {1679} INFO - task = regression
[flaml.automl.logger: 11-09 13:40:19] {1690} INFO - Evaluation method: cv
[flaml.automl.logger: 11-09 13:40:19] {1788} INFO - Minimizing error metric: rmse
[flaml.automl.logger: 11-09 13:40:19] {1900} INFO - List of ML learners in AutoML Run: ['lgbm', 'rf', 'xgboost', 'extra_tree', 'xgb_limitdepth']
[flaml.automl.logger: 11-09 13:40:19] {2218} INFO - iteration 0, current learner lgbm
[flaml.automl.logger: 11-09 13:40:19] {2344} INFO - Estimated sufficient time budget=2246s. Estimated necessary time budget=16s.
[flaml.automl.logger: 11-09 13:40:19] {2391} INFO -  at 0.4s,	estimator lgbm's best error=4898.5224,	best estimator lgbm's best error=4898.5224
[flaml.automl.logger: 11-09 13:40:19] {2218} INFO - iteration 1, current learner lgbm
[flaml.automl.logger: 11-09 13:40:20] {2391} INFO -  at 0.6s,	estimator lgbm's best error=4898.5224,	best estimator lgbm's best error=4898.5224
[flaml.automl.logger: 11-09 13:40:20] {2218} INFO - iteration 2, current learner lgbm
[flaml.automl.logger: 11-09 13:40:20] {2391} INFO -  at 0.9s,	estimator lgbm's best error=4554.6465,	best estimator lgbm's best error=4554.6465
[flaml.automl.logger: 11-09 13:40:20] {2218} INFO - iteration 3, current learner xgboost
[flaml.automl.logger: 11-09 13:40:20] {2391} INFO -  at 1.4s,	estimator xgboost's best error=4899.3292,	best estimator lgbm's best error=4554.6465
[flaml.automl.logger: 11-09 13:40:20] {2218} INFO - iteration 4, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:21] {2391} INFO -  at 1.7s,	estimator extra_tree's best error=4727.2945,	best estimator lgbm's best error=4554.6465
[flaml.automl.logger: 11-09 13:40:21] {2218} INFO - iteration 5, current learner lgbm
[flaml.automl.logger: 11-09 13:40:21] {2391} INFO -  at 2.0s,	estimator lgbm's best error=3688.9378,	best estimator lgbm's best error=3688.9378
[flaml.automl.logger: 11-09 13:40:21] {2218} INFO - iteration 6, current learner lgbm
[flaml.automl.logger: 11-09 13:40:21] {2391} INFO -  at 2.3s,	estimator lgbm's best error=3688.9378,	best estimator lgbm's best error=3688.9378
[flaml.automl.logger: 11-09 13:40:21] {2218} INFO - iteration 7, current learner lgbm
[flaml.automl.logger: 11-09 13:40:22] {2391} INFO -  at 2.6s,	estimator lgbm's best error=3581.2021,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:22] {2218} INFO - iteration 8, current learner lgbm
[flaml.automl.logger: 11-09 13:40:22] {2391} INFO -  at 2.8s,	estimator lgbm's best error=3581.2021,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:22] {2218} INFO - iteration 9, current learner lgbm
[flaml.automl.logger: 11-09 13:40:22] {2391} INFO -  at 3.1s,	estimator lgbm's best error=3581.2021,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:22] {2218} INFO - iteration 10, current learner xgboost
[flaml.automl.logger: 11-09 13:40:23] {2391} INFO -  at 3.5s,	estimator xgboost's best error=4899.3292,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:23] {2218} INFO - iteration 11, current learner xgboost
[flaml.automl.logger: 11-09 13:40:23] {2391} INFO -  at 4.0s,	estimator xgboost's best error=4563.3951,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:23] {2218} INFO - iteration 12, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:23] {2391} INFO -  at 4.3s,	estimator extra_tree's best error=4328.3073,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:23] {2218} INFO - iteration 13, current learner rf
[flaml.automl.logger: 11-09 13:40:24] {2391} INFO -  at 5.3s,	estimator rf's best error=4639.3491,	best estimator lgbm's best error=3581.2021
[flaml.automl.logger: 11-09 13:40:24] {2218} INFO - iteration 14, current learner lgbm
[flaml.automl.logger: 11-09 13:40:25] {2391} INFO -  at 5.7s,	estimator lgbm's best error=3378.3920,	best estimator lgbm's best error=3378.3920
[flaml.automl.logger: 11-09 13:40:25] {2218} INFO - iteration 15, current learner rf
[flaml.automl.logger: 11-09 13:40:26] {2391} INFO -  at 6.9s,	estimator rf's best error=4113.3118,	best estimator lgbm's best error=3378.3920
[flaml.automl.logger: 11-09 13:40:26] {2218} INFO - iteration 16, current learner lgbm
[flaml.automl.logger: 11-09 13:40:26] {2391} INFO -  at 7.2s,	estimator lgbm's best error=3378.3920,	best estimator lgbm's best error=3378.3920
[flaml.automl.logger: 11-09 13:40:26] {2218} INFO - iteration 17, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:27] {2391} INFO -  at 7.6s,	estimator extra_tree's best error=4328.3073,	best estimator lgbm's best error=3378.3920
[flaml.automl.logger: 11-09 13:40:27] {2218} INFO - iteration 18, current learner lgbm
[flaml.automl.logger: 11-09 13:40:28] {2391} INFO -  at 8.7s,	estimator lgbm's best error=2794.0822,	best estimator lgbm's best error=2794.0822
[flaml.automl.logger: 11-09 13:40:28] {2218} INFO - iteration 19, current learner rf
[flaml.automl.logger: 11-09 13:40:29] {2391} INFO -  at 9.7s,	estimator rf's best error=4113.3118,	best estimator lgbm's best error=2794.0822
[flaml.automl.logger: 11-09 13:40:29] {2218} INFO - iteration 20, current learner lgbm
[flaml.automl.logger: 11-09 13:40:30] {2391} INFO -  at 11.5s,	estimator lgbm's best error=2794.0822,	best estimator lgbm's best error=2794.0822
[flaml.automl.logger: 11-09 13:40:30] {2218} INFO - iteration 21, current learner lgbm
[flaml.automl.logger: 11-09 13:40:31] {2391} INFO -  at 12.4s,	estimator lgbm's best error=2794.0822,	best estimator lgbm's best error=2794.0822
[flaml.automl.logger: 11-09 13:40:31] {2218} INFO - iteration 22, current learner lgbm
[flaml.automl.logger: 11-09 13:40:32] {2391} INFO -  at 13.2s,	estimator lgbm's best error=2794.0822,	best estimator lgbm's best error=2794.0822
[flaml.automl.logger: 11-09 13:40:32] {2218} INFO - iteration 23, current learner lgbm
[flaml.automl.logger: 11-09 13:40:34] {2391} INFO -  at 15.0s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:34] {2218} INFO - iteration 24, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:35] {2391} INFO -  at 15.5s,	estimator extra_tree's best error=4049.9293,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:35] {2218} INFO - iteration 25, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:35] {2391} INFO -  at 16.2s,	estimator extra_tree's best error=3602.3407,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:35] {2218} INFO - iteration 26, current learner rf
[flaml.automl.logger: 11-09 13:40:37] {2391} INFO -  at 17.7s,	estimator rf's best error=3676.8725,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:37] {2218} INFO - iteration 27, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:37] {2391} INFO -  at 18.2s,	estimator extra_tree's best error=3602.3407,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:37] {2218} INFO - iteration 28, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:38] {2391} INFO -  at 18.8s,	estimator extra_tree's best error=3280.1074,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:38] {2218} INFO - iteration 29, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:38] {2391} INFO -  at 19.3s,	estimator extra_tree's best error=3280.1074,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:38] {2218} INFO - iteration 30, current learner lgbm
[flaml.automl.logger: 11-09 13:40:42] {2391} INFO -  at 23.5s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:42] {2218} INFO - iteration 31, current learner lgbm
[flaml.automl.logger: 11-09 13:40:43] {2391} INFO -  at 24.4s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:43] {2218} INFO - iteration 32, current learner lgbm
[flaml.automl.logger: 11-09 13:40:49] {2391} INFO -  at 30.1s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840

[flaml.automl.logger: 11-09 13:40:49] {2218} INFO - iteration 33, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:50] {2391} INFO -  at 31.5s,	estimator extra_tree's best error=3199.4415,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:50] {2218} INFO - iteration 34, current learner lgbm
[flaml.automl.logger: 11-09 13:40:51] {2391} INFO -  at 32.4s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:51] {2218} INFO - iteration 35, current learner rf
[flaml.automl.logger: 11-09 13:40:54] {2391} INFO -  at 34.8s,	estimator rf's best error=3349.5266,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:54] {2218} INFO - iteration 36, current learner extra_tree
[flaml.automl.logger: 11-09 13:40:55] {2391} INFO -  at 35.6s,	estimator extra_tree's best error=3199.4415,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:55] {2218} INFO - iteration 37, current learner rf
[flaml.automl.logger: 11-09 13:40:56] {2391} INFO -  at 37.2s,	estimator rf's best error=3349.5266,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:56] {2218} INFO - iteration 38, current learner xgboost
[flaml.automl.logger: 11-09 13:40:57] {2391} INFO -  at 37.6s,	estimator xgboost's best error=3909.9384,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:57] {2218} INFO - iteration 39, current learner xgboost
[flaml.automl.logger: 11-09 13:40:57] {2391} INFO -  at 38.1s,	estimator xgboost's best error=3909.9384,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:57] {2218} INFO - iteration 40, current learner xgboost
[flaml.automl.logger: 11-09 13:40:58] {2391} INFO -  at 38.6s,	estimator xgboost's best error=3909.9384,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:58] {2218} INFO - iteration 41, current learner xgboost
[flaml.automl.logger: 11-09 13:40:58] {2391} INFO -  at 39.1s,	estimator xgboost's best error=3625.8924,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:58] {2218} INFO - iteration 42, current learner lgbm
[flaml.automl.logger: 11-09 13:40:59] {2391} INFO -  at 40.0s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:40:59] {2218} INFO - iteration 43, current learner xgboost
[flaml.automl.logger: 11-09 13:41:00] {2391} INFO -  at 40.6s,	estimator xgboost's best error=3473.2624,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:00] {2218} INFO - iteration 44, current learner extra_tree
[flaml.automl.logger: 11-09 13:41:01] {2391} INFO -  at 41.7s,	estimator extra_tree's best error=3199.4415,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:01] {2218} INFO - iteration 45, current learner xgboost
[flaml.automl.logger: 11-09 13:41:01] {2391} INFO -  at 42.2s,	estimator xgboost's best error=3473.2624,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:01] {2218} INFO - iteration 46, current learner lgbm
[flaml.automl.logger: 11-09 13:41:06] {2391} INFO -  at 46.7s,	estimator lgbm's best error=2656.3840,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:06] {2218} INFO - iteration 47, current learner xgboost
[flaml.automl.logger: 11-09 13:41:06] {2391} INFO -  at 47.4s,	estimator xgboost's best error=3416.2610,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:06] {2218} INFO - iteration 48, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:07] {2391} INFO -  at 48.2s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:07] {2218} INFO - iteration 49, current learner xgboost
[flaml.automl.logger: 11-09 13:41:08] {2391} INFO -  at 48.8s,	estimator xgboost's best error=3416.2610,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:08] {2218} INFO - iteration 50, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:09] {2391} INFO -  at 49.6s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:09] {2218} INFO - iteration 51, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:09] {2391} INFO -  at 50.5s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:09] {2218} INFO - iteration 52, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:10] {2391} INFO -  at 51.1s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:10] {2218} INFO - iteration 53, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:11] {2391} INFO -  at 52.2s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:11] {2218} INFO - iteration 54, current learner rf
[flaml.automl.logger: 11-09 13:41:14] {2391} INFO -  at 54.5s,	estimator rf's best error=3198.9965,	best estimator lgbm's best error=2656.3840
[flaml.automl.logger: 11-09 13:41:14] {2218} INFO - iteration 55, current learner lgbm
[flaml.automl.logger: 11-09 13:41:16] {2391} INFO -  at 56.7s,	estimator lgbm's best error=2650.6456,	best estimator lgbm's best error=2650.6456
[flaml.automl.logger: 11-09 13:41:16] {2218} INFO - iteration 56, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:16] {2391} INFO -  at 57.3s,	estimator xgb_limitdepth's best error=3052.6881,	best estimator lgbm's best error=2650.6456
[flaml.automl.logger: 11-09 13:41:16] {2218} INFO - iteration 57, current learner rf
[flaml.automl.logger: 11-09 13:41:19] {2391} INFO -  at 60.1s,	estimator rf's best error=3198.9965,	best estimator lgbm's best error=2650.6456
[flaml.automl.logger: 11-09 13:41:19] {2218} INFO - iteration 58, current learner extra_tree
[flaml.automl.logger: 11-09 13:41:20] {2391} INFO -  at 61.5s,	estimator extra_tree's best error=3199.4415,	best estimator lgbm's best error=2650.6456
[flaml.automl.logger: 11-09 13:41:20] {2218} INFO - iteration 59, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:41:22] {2391} INFO -  at 62.6s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2650.6456
[flaml.automl.logger: 11-09 13:41:22] {2218} INFO - iteration 60, current learner lgbm
[flaml.automl.logger: 11-09 13:41:23] {2391} INFO -  at 64.3s,	estimator lgbm's best error=2637.7211,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:23] {2218} INFO - iteration 61, current learner lgbm
[flaml.automl.logger: 11-09 13:41:25] {2391} INFO -  at 65.8s,	estimator lgbm's best error=2637.7211,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:25] {2218} INFO - iteration 62, current learner lgbm
[flaml.automl.logger: 11-09 13:41:27] {2391} INFO -  at 68.2s,	estimator lgbm's best error=2637.7211,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:27] {2218} INFO - iteration 63, current learner lgbm
[flaml.automl.logger: 11-09 13:41:32] {2391} INFO -  at 73.2s,	estimator lgbm's best error=2637.7211,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:32] {2218} INFO - iteration 64, current learner xgboost
[flaml.automl.logger: 11-09 13:41:33] {2391} INFO -  at 73.9s,	estimator xgboost's best error=3416.2610,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:33] {2218} INFO - iteration 65, current learner lgbm
[flaml.automl.logger: 11-09 13:41:34] {2391} INFO -  at 74.7s,	estimator lgbm's best error=2637.7211,	best estimator lgbm's best error=2637.7211
[flaml.automl.logger: 11-09 13:41:34] {2218} INFO - iteration 66, current learner lgbm
[flaml.automl.logger: 11-09 13:41:38] {2391} INFO -  at 78.7s,	estimator lgbm's best error=2546.4343,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:38] {2218} INFO - iteration 67, current learner xgboost

[flaml.automl.logger: 11-09 13:41:39] {2391} INFO -  at 79.8s,	estimator xgboost's best error=3083.0411,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:39] {2218} INFO - iteration 68, current learner xgboost
[flaml.automl.logger: 11-09 13:41:40] {2391} INFO -  at 80.8s,	estimator xgboost's best error=3083.0411,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:40] {2218} INFO - iteration 69, current learner lgbm
[flaml.automl.logger: 11-09 13:41:41] {2391} INFO -  at 82.2s,	estimator lgbm's best error=2546.4343,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:41] {2218} INFO - iteration 70, current learner xgboost
[flaml.automl.logger: 11-09 13:41:42] {2391} INFO -  at 83.5s,	estimator xgboost's best error=3075.5439,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:42] {2218} INFO - iteration 71, current learner rf
[flaml.automl.logger: 11-09 13:41:48] {2391} INFO -  at 88.5s,	estimator rf's best error=3011.9943,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:41:48] {2218} INFO - iteration 72, current learner lgbm
[flaml.automl.logger: 11-09 13:42:06] {2391} INFO -  at 106.6s,	estimator lgbm's best error=2546.4343,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:42:06] {2218} INFO - iteration 73, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:42:07] {2391} INFO -  at 108.1s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:42:07] {2218} INFO - iteration 74, current learner rf
[flaml.automl.logger: 11-09 13:42:10] {2391} INFO -  at 110.6s,	estimator rf's best error=3011.9943,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:42:10] {2218} INFO - iteration 75, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:42:11] {2391} INFO -  at 111.7s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:42:11] {2218} INFO - iteration 76, current learner lgbm
[flaml.automl.logger: 11-09 13:42:14] {2391} INFO -  at 115.2s,	estimator lgbm's best error=2546.4343,	best estimator lgbm's best error=2546.4343
[flaml.automl.logger: 11-09 13:42:14] {2218} INFO - iteration 77, current learner lgbm
[flaml.automl.logger: 11-09 13:42:19] {2391} INFO -  at 120.4s,	estimator lgbm's best error=2511.8493,	best estimator lgbm's best error=2511.8493
[flaml.automl.logger: 11-09 13:42:19] {2218} INFO - iteration 78, current learner extra_tree
[flaml.automl.logger: 11-09 13:42:20] {2391} INFO -  at 121.5s,	estimator extra_tree's best error=3199.4415,	best estimator lgbm's best error=2511.8493
[flaml.automl.logger: 11-09 13:42:20] {2218} INFO - iteration 79, current learner lgbm
[flaml.automl.logger: 11-09 13:42:28] {2391} INFO -  at 128.5s,	estimator lgbm's best error=2425.7279,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:42:28] {2218} INFO - iteration 80, current learner lgbm
[flaml.automl.logger: 11-09 13:42:33] {2391} INFO -  at 134.3s,	estimator lgbm's best error=2425.7279,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:42:33] {2218} INFO - iteration 81, current learner extra_tree
[flaml.automl.logger: 11-09 13:42:36] {2391} INFO -  at 136.9s,	estimator extra_tree's best error=3007.6816,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:42:36] {2218} INFO - iteration 82, current learner lgbm
[flaml.automl.logger: 11-09 13:43:04] {2391} INFO -  at 165.0s,	estimator lgbm's best error=2425.7279,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:04] {2218} INFO - iteration 83, current learner extra_tree
[flaml.automl.logger: 11-09 13:43:05] {2391} INFO -  at 166.3s,	estimator extra_tree's best error=3007.6816,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:05] {2218} INFO - iteration 84, current learner extra_tree
[flaml.automl.logger: 11-09 13:43:13] {2391} INFO -  at 173.9s,	estimator extra_tree's best error=2859.2392,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:13] {2218} INFO - iteration 85, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:43:14] {2391} INFO -  at 175.3s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:14] {2218} INFO - iteration 86, current learner xgboost
[flaml.automl.logger: 11-09 13:43:15] {2391} INFO -  at 176.3s,	estimator xgboost's best error=3075.5439,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:15] {2218} INFO - iteration 87, current learner extra_tree
[flaml.automl.logger: 11-09 13:43:19] {2391} INFO -  at 180.3s,	estimator extra_tree's best error=2859.2392,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:19] {2218} INFO - iteration 88, current learner lgbm
[flaml.automl.logger: 11-09 13:43:21] {2391} INFO -  at 182.3s,	estimator lgbm's best error=2425.7279,	best estimator lgbm's best error=2425.7279
[flaml.automl.logger: 11-09 13:43:21] {2218} INFO - iteration 89, current learner lgbm
[flaml.automl.logger: 11-09 13:43:35] {2391} INFO -  at 195.8s,	estimator lgbm's best error=2421.5779,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:43:35] {2218} INFO - iteration 90, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:43:36] {2391} INFO -  at 196.8s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:43:36] {2218} INFO - iteration 91, current learner rf
[flaml.automl.logger: 11-09 13:43:40] {2391} INFO -  at 201.0s,	estimator rf's best error=3011.9943,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:43:40] {2218} INFO - iteration 92, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:43:41] {2391} INFO -  at 201.9s,	estimator xgb_limitdepth's best error=2972.1433,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:43:41] {2218} INFO - iteration 93, current learner extra_tree
[flaml.automl.logger: 11-09 13:43:56] {2391} INFO -  at 217.0s,	estimator extra_tree's best error=2859.2392,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:43:56] {2218} INFO - iteration 94, current learner rf
[flaml.automl.logger: 11-09 13:44:03] {2391} INFO -  at 224.4s,	estimator rf's best error=3011.9943,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:44:03] {2218} INFO - iteration 95, current learner lgbm
[flaml.automl.logger: 11-09 13:45:56] {2391} INFO -  at 336.5s,	estimator lgbm's best error=2421.5779,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:45:56] {2218} INFO - iteration 96, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:45:57] {2391} INFO -  at 338.1s,	estimator xgb_limitdepth's best error=2815.4862,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:45:57] {2218} INFO - iteration 97, current learner extra_tree
[flaml.automl.logger: 11-09 13:46:14] {2391} INFO -  at 355.2s,	estimator extra_tree's best error=2859.2392,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:14] {2218} INFO - iteration 98, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:15] {2391} INFO -  at 356.2s,	estimator xgb_limitdepth's best error=2815.4862,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:15] {2218} INFO - iteration 99, current learner extra_tree
[flaml.automl.logger: 11-09 13:46:19] {2391} INFO -  at 359.8s,	estimator extra_tree's best error=2859.2392,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:19] {2218} INFO - iteration 100, current learner rf
[flaml.automl.logger: 11-09 13:46:21] {2391} INFO -  at 362.2s,	estimator rf's best error=3011.9943,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:21] {2218} INFO - iteration 101, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:23] {2391} INFO -  at 364.4s,	estimator xgb_limitdepth's best error=2746.7216,	best estimator lgbm's best error=2421.5779

[flaml.automl.logger: 11-09 13:46:23] {2218} INFO - iteration 102, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:25] {2391} INFO -  at 365.8s,	estimator xgb_limitdepth's best error=2746.7216,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:25] {2218} INFO - iteration 103, current learner lgbm
[flaml.automl.logger: 11-09 13:46:27] {2391} INFO -  at 367.7s,	estimator lgbm's best error=2421.5779,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:27] {2218} INFO - iteration 104, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:31] {2391} INFO -  at 372.0s,	estimator xgb_limitdepth's best error=2613.7298,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:31] {2218} INFO - iteration 105, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:33] {2391} INFO -  at 374.0s,	estimator xgb_limitdepth's best error=2613.7298,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:33] {2218} INFO - iteration 106, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:44] {2391} INFO -  at 384.6s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:44] {2218} INFO - iteration 107, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:46:47] {2391} INFO -  at 387.9s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:47] {2218} INFO - iteration 108, current learner extra_tree
[flaml.automl.logger: 11-09 13:46:59] {2391} INFO -  at 400.3s,	estimator extra_tree's best error=2820.1254,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:46:59] {2218} INFO - iteration 109, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:47:38] {2391} INFO -  at 439.4s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:47:38] {2218} INFO - iteration 110, current learner xgboost
[flaml.automl.logger: 11-09 13:47:41] {2391} INFO -  at 441.9s,	estimator xgboost's best error=2906.7267,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:47:41] {2218} INFO - iteration 111, current learner lgbm
[flaml.automl.logger: 11-09 13:47:44] {2391} INFO -  at 444.9s,	estimator lgbm's best error=2421.5779,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:47:44] {2218} INFO - iteration 112, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:47:52] {2391} INFO -  at 452.6s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:47:52] {2218} INFO - iteration 113, current learner xgboost
[flaml.automl.logger: 11-09 13:47:53] {2391} INFO -  at 453.8s,	estimator xgboost's best error=2906.7267,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:47:53] {2218} INFO - iteration 114, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:48:11] {2391} INFO -  at 471.6s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:48:11] {2218} INFO - iteration 115, current learner rf
[flaml.automl.logger: 11-09 13:48:23] {2391} INFO -  at 484.4s,	estimator rf's best error=2885.0783,	best estimator lgbm's best error=2421.5779
[flaml.automl.logger: 11-09 13:48:23] {2218} INFO - iteration 116, current learner lgbm
[flaml.automl.logger: 11-09 13:49:33] {2391} INFO -  at 553.8s,	estimator lgbm's best error=2393.5818,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:49:33] {2218} INFO - iteration 117, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:49:43] {2391} INFO -  at 563.7s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:49:43] {2218} INFO - iteration 118, current learner xgboost
[flaml.automl.logger: 11-09 13:49:50] {2391} INFO -  at 570.9s,	estimator xgboost's best error=2703.1517,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:49:50] {2218} INFO - iteration 119, current learner lgbm
[flaml.automl.logger: 11-09 13:53:11] {2391} INFO -  at 771.9s,	estimator lgbm's best error=2393.5818,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:53:11] {2218} INFO - iteration 120, current learner xgboost
[flaml.automl.logger: 11-09 13:53:12] {2391} INFO -  at 773.4s,	estimator xgboost's best error=2703.1517,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:53:12] {2218} INFO - iteration 121, current learner xgboost
[flaml.automl.logger: 11-09 13:54:01] {2391} INFO -  at 821.7s,	estimator xgboost's best error=2602.0919,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:54:01] {2218} INFO - iteration 122, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:54:17] {2391} INFO -  at 837.8s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:54:17] {2218} INFO - iteration 123, current learner extra_tree
[flaml.automl.logger: 11-09 13:54:26] {2391} INFO -  at 847.3s,	estimator extra_tree's best error=2820.1254,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:54:26] {2218} INFO - iteration 124, current learner rf
[flaml.automl.logger: 11-09 13:54:32] {2391} INFO -  at 852.6s,	estimator rf's best error=2885.0783,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:54:32] {2218} INFO - iteration 125, current learner rf
[flaml.automl.logger: 11-09 13:54:53] {2391} INFO -  at 874.2s,	estimator rf's best error=2853.8469,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:54:53] {2218} INFO - iteration 126, current learner rf
[flaml.automl.logger: 11-09 13:55:08] {2391} INFO -  at 888.7s,	estimator rf's best error=2853.8469,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:55:08] {2218} INFO - iteration 127, current learner xgb_limitdepth
[flaml.automl.logger: 11-09 13:55:11] {2391} INFO -  at 892.0s,	estimator xgb_limitdepth's best error=2517.3566,	best estimator lgbm's best error=2393.5818
[flaml.automl.logger: 11-09 13:55:27] {2627} INFO - retrain lgbm for 16.1s
[flaml.automl.logger: 11-09 13:55:27] {2630} INFO - retrained model: LGBMRegressor(colsample_bytree=0.6610564267199154,
              learning_rate=0.011470248142582467, max_bin=255,
              min_child_samples=11, n_estimators=1082, num_leaves=143,
              reg_alpha=0.005999977355144061, reg_lambda=0.005109096893689415,
              verbose=-1)
[flaml.automl.logger: 11-09 13:55:27] {1930} INFO - fit succeeded
[flaml.automl.logger: 11-09 13:55:27] {1931} INFO - Time taken to find the best model: 553.8219120502472

In [48]:
print('Best ML leaner:', automl.best_estimator)
print('Best hyperparmeter config:', automl.best_config)
print('Best rmse on validation data: {0:.4g}'.format(automl.best_loss))
print('Training duration of best run: {0:.4g} s'.format(automl.best_config_train_time))

Best ML leaner: lgbm
Best hyperparmeter config: {'n_estimators': 1082, 'num_leaves': 143, 'min_child_samples': 11, 'learning_rate': 0.011470248142582467, 'log_max_bin': 8, 'colsample_bytree': 0.6610564267199154, 'reg_alpha': 0.005999977355144061, 'reg_lambda': 0.005109096893689415}
Best rmse on validation data: 2394
Training duration of best run: 16.14 s

In [49]:
from flaml.ml import sklearn_metric_loss_score
print('train rmse', '=', sklearn_metric_loss_score('rmse', automl.predict(X_train), y_train))
print(' test rmse', '=', sklearn_metric_loss_score('rmse', automl.predict(X_test), y_test))

train rmse = 405.93740004431413
 test rmse = 2277.5637120654856

In [50]:
y_pred = automl.predict(test)
y_pred

array([10249.5578972 ,  6503.31136348,  5060.40252218, ...,
       11523.4984548 , 10619.52213727, 13861.55374453])

In [51]:
df = pd.DataFrame(y_pred,columns=['load_shortfall_3h'])
df.head()

   load_shortfall_3h
0       10249.557897
1        6503.311363
2        5060.402522
3       10126.907437
4       11961.124416

In [53]:
sol=pd.read_csv('df_test.csv')
sol.head()

,Unnamed: 0,time,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,Bilbao_wind_deg,Barcelona_wind_speed,Barcelona_wind_deg,Madrid_clouds_all,Seville_wind_speed,Barcelona_rain_1h,Seville_pressure,Seville_rain_1h,Bilbao_snow_3h,Barcelona_pressure,Seville_rain_3h,Madrid_rain_1h,Barcelona_rain_3h,Valencia_snow_3h,Madrid_weather_id,Barcelona_weather_id,Bilbao_pressure,Seville_weather_id,Valencia_pressure,Seville_temp_max,Madrid_pressure,Valencia_temp_max,Valencia_temp,Bilbao_weather_id,Seville_temp,Valencia_humidity,Valencia_temp_min,Barcelona_temp_max,Madrid_temp_max,Barcelona_temp,Bilbao_temp_min,Bilbao_temp,Barcelona_temp_min,Bilbao_temp_max,Seville_temp_min,Madrid_temp,Madrid_temp_min
0,8763,2018-01-01 00:00:00,5.000000,level_8,0.0,5.000000,87.000000,71.333333,20.000000,3.000000,0.000000,193.333333,4.000000,176.666667,0.0,1.000000,0.0,sp25,0.0,0,1017.333333,0.0,0.0,0.0,0,800.0,800.000000,1025.666667,800.000000,NaN,284.483333,1030.000000,287.483333,287.483333,801.000000,283.673333,46.333333,287.483333,287.816667,280.816667,287.356667,276.150000,280.380000,286.816667,285.150000,283.150000,279.866667,279.150000
1,8764,2018-01-01 03:00:00,4.666667,level_8,0.0,5.333333,89.000000,78.000000,0.000000,3.666667,0.000000,143.333333,4.666667,266.666667,0.0,0.666667,0.0,sp25,0.0,0,1020.333333,0.0,0.0,0.0,0,800.0,800.333333,1026.666667,800.000000,NaN,282.483333,1030.333333,284.150000,284.150000,721.000000,281.673333,53.666667,284.150000,284.816667,280.483333,284.190000,277.816667,281.010000,283.483333,284.150000,281.150000,279.193333,278.150000
2,8765,2018-01-01 06:00:00,2.333333,level_7,0.0,5.000000,89.000000,89.666667,0.000000,2.333333,6.666667,130.000000,4.000000,263.333333,0.0,0.666667,0.0,sp25,0.0,0,1023.000000,0.0,0.0,0.0,0,800.0,800.000000,1025.333333,800.333333,NaN,280.816667,1030.666667,282.816667,282.816667,800.000000,280.613333,42.000000,282.816667,284.483333,276.483333,283.150000,276.816667,279.196667,281.816667,282.150000,280.483333,276.340000,276.150000
3,8766,2018-01-01 09:00:00,2.666667,level_7,0.0,5.333333,93.333333,82.666667,26.666667,5.666667,6.666667,196.666667,2.333333,86.666667,0.0,1.333333,0.0,sp25,0.0,0,1025.666667,0.0,0.0,0.0,0,800.0,800.000000,1025.000000,800.333333,NaN,281.150000,1032.333333,283.483333,283.483333,801.333333,279.936667,45.000000,283.483333,284.150000,277.150000,283.190000,279.150000,281.740000,282.150000,284.483333,279.150000,275.953333,274.483333
4,8767,2018-01-01 12:00:00,4.000000,level_7,0.0,8.666667,65.333333,64.000000,26.666667,10.666667,0.000000,233.333333,4.666667,283.333333,0.0,1.000000,0.0,sp25,0.0,0,1026.000000,0.0,0.0,0.0,0,800.0,800.333333,1022.333333,800.000000,NaN,287.150000,1032.333333,287.150000,287.150000,801.333333,285.570000,41.000000,287.150000,287.483333,281.150000,286.816667,281.816667,284.116667,286.150000,286.816667,284.483333,280.686667,280.150000

In [54]:
sol['load_shortfall_3h']=df['load_shortfall_3h']
sol=sol[['time','load_shortfall_3h']]
sol.head()

                  time  load_shortfall_3h
0  2018-01-01 00:00:00       10249.557897
1  2018-01-01 03:00:00        6503.311363
2  2018-01-01 06:00:00        5060.402522
3  2018-01-01 09:00:00       10126.907437
4  2018-01-01 12:00:00       11961.124416

In [55]:
sol.to_csv('submission.csv',index=False)