# Basic Exploratory Data Analysis

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # statistical data visualization library based on matplotlib

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# read in data from the csv files
df_sample = pd.read_csv('/kaggle/input/spain-electricity-shortfall-challenge-2022/sample_submission_load_shortfall (1).csv')
df_train = pd.read_csv('/kaggle/input/spain-electricity-shortfall-challenge-2022/df_train.csv')
df_test = pd.read_csv('/kaggle/input/spain-electricity-shortfall-challenge-2022/df_test.csv')

In [ ]:
df_sample.head(2)

In [ ]:
df_train.head(2)

In [ ]:
df_test.head(2)

In [ ]:
# print out column names of train set
df_train.columns

In [ ]:
# print out statistical details on the train dataset columns
df_train.describe()

In [ ]:
# check for nulls in each column
df_train.isnull().sum()

In [ ]:
# combine the test and train datasets to make data processing easier
df = pd.concat([df_train, df_test])
df.head()

In [ ]:
# check the shape of the new data set
df.shape

In [ ]:
# check the records at the bottom of the dataset to ensure test set was added sussesfully
# by checking if the last column (prediction) is null
df.tail(5)

In [ ]:
# check for nulls in each column (to ensure train and test sets were successfully concatinated)
df.isnull().sum()

**Processing Data**

All columns look okay apart from Valencia_pressure which has several nulls. Since the column is numerical, we will first draw a boxplot to help visualize it's distribution and skewness by displaying the data quartiles and averages.

We will also display the mean, mode and median in numerical form.

In [ ]:
# draw a boxplot for Valencia_pressure
sns.boxplot(df['Valencia_pressure'])

In [ ]:
# display the mean, mode and median of Valencia_pressure
print('Mode') 
print(df['Valencia_pressure'].mode())
print('Mean') 
print(df['Valencia_pressure'].mean())
print('Median') 
print(df['Valencia_pressure'].median())

Checking skewness

In [ ]:
sns.distplot(df['Valencia_pressure'])

Mean, mode and median seem to be almost similar. For the purpose of this exercise, we will use the mode to impute the missing column data. this is because the data is skewed, which eliminates the use of mean, and we are dealing with pressure which seems to often repeat itself. 

To make sure we do not loose our original dataset in cases of mistakes,  we will use a copy of the data frame.

In [ ]:
# create a copy of the dataset
df_copy = df
# fill all nulls in Valencia_pressure column with the column mode
df_copy['Valencia_pressure'] = df_copy['Valencia_pressure'].fillna(df_copy['Valencia_pressure'].mode()[0])

In [ ]:
# check for nulls in each column again to ensure the impute was successful 
df_copy.isnull().sum()

**Data Frame Types**


We need to check that all our columns are numerics (float or integer) for our regression model(s).

In [ ]:
df_copy.dtypes

We need to fix the three columns that are of type object, i.e. time, Valencia_wind_deg and Seville_pressure columns.  We could either drop, transform or encode these columns. Let's take a closer look at each column and decide which action is best.

In [ ]:
# print out the time column
df_copy['time']

The column has date and time which cannot be interpreted by a regression model. We therefore need to transform it into format which can be understood by models.

In [ ]:
# transform time column into datetime using pandas
df_copy['time'] = pd.to_datetime(df_copy['time'])

In [ ]:
# print out the time column again. note that the dtype has changed
df_copy['time']

Datetime can be understood by some models but not all. We therfore need to transform the time column further so as to accomodate all models. We do this by spliting datetime into day, month, year, hour, minute and second columns. [Link](https://www.analyticsvidhya.com/blog/2020/05/datetime-variables-python-pandas/)

In [ ]:
# day
df_copy['Day'] = df['time'].dt.day
# month
df_copy['Month'] = df['time'].dt.month
# year
df_copy['Year'] = df['time'].dt.year
# hour
df_copy['Hour'] = df['time'].dt.hour
# minute
df_copy['Minute'] = df['time'].dt.minute
# second
df_copy['Second'] = df['time'].dt.second

In [ ]:
# print out the day column to ensure it is numeric
df_copy['Day']

In [ ]:
# print out the month column to ensure it is numeric
df_copy['Month']

In [ ]:
# print out the year column to ensure it is numeric
df_copy['Year']

In [ ]:
# print out the hour column to ensure it is numeric
df_copy['Hour']

In [ ]:
# print out the minute column to ensure it is numeric
df_copy['Minute']

In [ ]:
# print out the second column to ensure it is numeric
df_copy['Second']

In [ ]:
# print out the Valencia_wind_deg column 
df_copy['Valencia_wind_deg']

We will transform this column by extracting the number from the column and leaving out the 'level_' section so as to create a numeric.

In [ ]:
# extract a number from an object. this will return an object. 
# use pd.to_numeric() function to transform the results into a numeric
df_copy['Valencia_wind_deg'] = df_copy['Valencia_wind_deg'].str.extract('(\d+)')
df_copy['Valencia_wind_deg'] = pd.to_numeric(df_copy['Valencia_wind_deg'])

In [ ]:
# print out the Valencia_wind_deg column again to ensure 
#the extraction and transformationwas successful
df_copy['Valencia_wind_deg']

In [ ]:
# print out the Seville_pressure column 
df_copy['Seville_pressure']

In [ ]:
# we will also extract the number from the column and convert the resulting object into a numeric
df_copy['Seville_pressure'] = df_copy['Seville_pressure'].str.extract('(\d+)')
df_copy['Seville_pressure'] = pd.to_numeric(df_copy['Seville_pressure'])

In [ ]:
# print out the Seville_pressure column again to ensure 
#the extraction and transformationwas successful
df_copy['Seville_pressure']

**Dropping Noise**

Let's take a look at the columns we currently have.

In [ ]:
# print out list of column names
df_copy.columns

We need to drop the unecessary columns (noise). Looking at the available columns, we will notice that *'Unnamed: 0'* and *'time'* are not needed for our modeling purposes. This is because *'Unnamed: 0'* is an indexing column and *'time'*  has already been split into more model friendly columns

In [ ]:
# dropping noise
df_copy = df_copy.drop(['Unnamed: 0','time'], axis = 1)

In [ ]:
# print out list of column names again to ensure the two columns have been dropped
df_copy.columns

Data processing is now complete.